<div class="row">
  
  <div class="col-md-4">
  </div>
  
  <div class="col-md-7">
    <div class="panel panel-default">
    
          <div class="panel-heading">
            <h3 class="panel-title">Affectation Session</h3>
          </div>
          
          <div class="panel-body"> 
	          <h5><span class="label label-default">Sessions:</span><h5>
	          	
	          	<input ng-model="selectedSession" title="Selectionner une session" class="filter form-control filter-unselected" list="SessionDataListFilter" placeholder="Sélectionner une session ..." style="margin-bottom: 5px;" autofocus>
	          	<datalist id="SessionDataListFilter" style="height: 200px; width: 100%;">  
	                <option data-ng-repeat="session in AS.trainingSessionListConverted" value="{{session.trainingTitle}}- {{session.beginning}} à {{session.ending}}- {{session.location}}"></option>
	             </datalist>           

	          <hr>

		      <div class="form-group" id="wrapper">
		      		<div id="dual-list-box-employees" class="form-group row">
           				<div class="col-md-5">
	           				<h5><span class="label label-default" id="gauche">Collaborateurs disponibles: {{FilterResultList.length}} affichés</span></h5>
							<div class="collaborator-box">
								<div class="search-field-collaborator-box">
									<input ng-model="searchCollaboratorField" class="search-widget filter form-control filter-unselected"
										   type="text" placeholder="Écrire le nom du collaborateur ..." style="margin-bottom: 5px;" autofocus>
									<button class="glyphicon glyphicon-search search-widget"></button>
									</input>
								</div>
								<ul>
									<li ng-repeat="myCollaborator in filterResultList = (AS.availableCollaboratorList | searchByString: searchCollaboratorField:'firstName':'lastName')">
										<div>
										<span ng-bind="myCollaborator.firstName+' '+myCollaborator.lastName"></span>
										<button class="glyphicon glyphicon-chevron-right btn btn-sm pull-right" ng-click="AS.moveItem(myCollaborator, AS.availableCollaboratorList , AS.selectedCollaboratorList)"></button>
										</div>
									</li>
								</ul>
								<style>
									ul li { border-top: solid 1px #ddd; padding: 15px 8px 15px 8px; }
									ul li:first-child { border-top: 0; }
								</style>
								<div class="row">
									<div class="small-2 small-centered columns" ng-show="(filterResultList.length == 0)&&(searchCollaboratorField.length > 0)">
										<div data-alert class="alert-box info">
											<h5><strong>Aucun résultat trouvé</strong></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 center-block" style="margin-top: 80px">
						     <!--
							<button type="button" class="btn btn-default col-md-8 col-md-offset-2 str" title="Ajouter à la session" data-type="str" style="margin-bottom: 20px;" ng-click="AS.moveItem(AS.selectedCollaborator, AS.availableCollaboratorList , AS.selectedCollaboratorList)"><span class="glyphicon glyphicon-chevron-right"></span></button>
							<button type="button" class="btn btn-default col-md-8 col-md-offset-2 stl" title="Retirer de la formation" data-type="stl" style="margin-bottom: 10px;" ng-click="AS.moveItem(AS.selectedCollaboratorInAffectedList[0], AS.selectedCollaboratorList , AS.availableCollaboratorList)"><span class="glyphicon glyphicon-chevron-left"></span></button>
							<button type="button" class="btn btn-default col-md-8 col-md-offset-2 atl" title="Retirer tous de la formation" data-type="atl" style="margin-bottom: 10px;" ng-click="AS.moveAll( AS.selectedCollaboratorList, AS.availableCollaboratorList )" ng-disabled="CtrlMoveAllTOEnableOrDisableButton(AS.selectedCollaboratorList)"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-list"></span></button>
							-->
							<span class="glyphicon glyphicon-chevron-right col-md-8 col-md-offset-2"></span>
						</div>

						<div class="col-md-5">
							<h5><span class="label label-default">Collaborateurs selectionnées: {{AS.selectedCollaborateurList.length}} affichés</span></h5>
							<div class="collaborator-box">
								<ul>
									<li ng-repeat="myCollaborator in AS.selectedCollaboratorList">
										<span ng-bind="myCollaborator.firstName+' '+myCollaborator.lastName"></span>
										<button class="glyphicon glyphicon-remove btn btn-sm pull-right btn-danger" ng-click="AS.moveItem(myCollaborator, AS.selectedCollaboratorList, AS.availableCollaboratorList)"></button>
									</li>
								</ul>
							</div>
						</div>
					</div>        
       		  </div>
            <div><button class="btn btn-primary" ng-click="AS.verifyForm()">Enregistrer</button></div>
       </div>
    
  </div>
</div>