<div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Gerer sessions</h3>
            </div>
            <div>
                <p>trainingTitle</p>
            </div>
            <button type="submit" class="center-block btn btn-primary" ng-click="MS.returnToRegisterTraining()"> Retour
            </button>
            <button type="submit" class="center-block btn btn-primary" ng-click="MS.registerTrainingSession()"> Ajouter une session
            </button>
        </div>
    </div>
</div>
</div>