<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Créer un compte</h3>
            </div>

            <div class="panel-body">
                <form name="collaborateurForm" novalidate ng-submit="EC.verifyForm(collaborateurForm)">
                    <!-- MATRICULE -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : EC.isEmptyMatriculeField || EC.isErrorInputMessageDisplayed(collaborateurForm.personnalIdNumber,focus.personnalIdNumber)}">
                        <input type="text" name="personnalIdNumber" class="form-control"
                               ng-model="EC.collaborator.personnalIdNumber" required
                               ng-pattern="EC.regex.personnalIdNumber" ng-minlength="3" ng-maxlength="20"
                               ng-focus="focus.personnalIdNumber=true" ng-blur="focus.personnalIdNumber=false"
                               placeholder="Matricule">
                        <p ng-show="EC.isErrorInputMessageDisplayed(collaborateurForm.personnalIdNumber, focus.personnalIdNumber)"
                           class="help-block">Numéro de matricule invalide (Exemple valide : ABC1234)</p>
                    </div>
                    <!-- NOM -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : EC.isEmptyLastNameField || EC.isErrorInputMessageDisplayed(collaborateurForm.lastName, focus.lastName) }">
                        <input type="text" name="lastName" class="form-control" ng-model="EC.collaborator.lastName"
                               required ng-pattern="EC.regex.lastName" ng-minlength="2" ng-maxlength="120"
                               ng-focus="focus.lastName=true" ng-blur="focus.lastName=false"
                               ng-trim="true" placeholder="Nom">
                        <p ng-show="EC.isErrorInputMessageDisplayed(collaborateurForm.lastName, focus.lastName)"
                           class="help-block">Veuillez entrer un nom valide</p>
                    </div>

                    <!-- PRENOM -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : EC.isEmptyFirstNameField || EC.isErrorInputMessageDisplayed(collaborateurForm.firstName, focus.firstName) }">
                        <input type="text" name="firstName" class="form-control" ng-model="EC.collaborator.firstName"
                               required ng-pattern="EC.regex.firstName" ng-minlength="2" ng-maxlength="120"
                               ng-focus="focus.firstName=true" ng-blur="focus.firstName=false"
                               ng-trim="true" placeholder="Prénom">
                        <p ng-show="EC.isErrorInputMessageDisplayed(collaborateurForm.firstName, focus.firstName)"
                           class="help-block">Veuillez entrer un prénom valide</p>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : EC.isEmptyEmailField || EC.isErrorInputMessageDisplayed(collaborateurForm.email, focus.email) }">
                        <input type="email" name="email" class="form-control" ng-model="EC.collaborator.email"
                               required ng-focus="focus.email=true" ng-blur="focus.email=false"
                               placeholder="Email" ng-pattern="EC.regex.email"/>
                        <p ng-show="EC.isErrorInputMessageDisplayed(collaborateurForm.email, focus.email)"
                           class="help-block">L'adresse email n'est pas valide</p>
                    </div>

                    <!-- MOT DE PASSE -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : EC.isEmptyPwdField || EC.isErrorInputMessageDisplayed(collaborateurForm.password, focus.password) }">
                        <input type="password" name="password" class="form-control" ng-model="EC.collaborator.password"
                               ng-minlength="6"
                               required ng-focus="focus.password=true" ng-blur="focus.password=false"
                               placeholder="Mot de passe"/>
                        <p ng-show="EC.isErrorInputMessageDisplayed(collaborateurForm.password, focus.password)"
                           class="help-block">Le mot de passe doit avoir minimum 6 caractères</p>

                    </div>

                    <!-- CONFIRMATION MOT DE PASSE -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : EC.isEmptyConfirmPwdField || EC.isErrorInputMessageDisplayed(collaborateurForm.confirmPassword, focus.confirmPassword) }">
                        <input type="password" name="confirmPassword" class="form-control"
                               ng-model="EC.collaborator.confirmPassword"
                               required ng-focus="focus.confirmPassword=true" ng-blur="focus.confirmPassword=false"
                               placeholder="Confirmation mot de passe"
                               pw-Check="EC.collaborator.password"/>
                        <p ng-show="EC.isErrorInputMessageDisplayed(collaborateurForm.confirmPassword, focus.confirmPassword)"
                           class="help-block">La confirmation du mot de passe n'est pas valide</p>
                    </div>

                    <button class="center-block alert alert-danger" disabled="disabled" role="alert"
                            ng-show="!EC.isNewPersonalIdNumber">
                        Ce matricule a déjà été enregistré
                    </button>
                    <button class="center-block alert alert-danger" disabled="disabled" role="alert"
                            ng-show="!EC.isNewEmail">
                        Cet email a déjà été enregistré
                    </button>
                    <button class="center-block alert alert-danger" disabled="disabled" role="alert"
                            ng-show="EC.isThereAnEmptyField">
                        Veuillez remplir tous les champs
                    </button>
                    <button class="center-block alert alert-danger" disabled="disabled" role="alert"
                            ng-show="EC.isFalseForm">
                        Veuillez remplir correctement tous les champs
                    </button>

                    <button type="submit" class="btn btn-primary center-block">S'enregistrer</button>
                    <div>
                        <button class="center-block btn btn-link" ng-click="EC.goToAuthentificationPage()">
                            Retour à la connexion
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>