<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Déclaration de la training</h3>
            </div>
            <div class="panel-body">
                <form name="formationForm" ng-submit="DF.verifyForm(formationForm)" novalidate>

                    <!-- Titre de la Training -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : formationForm.trainingTitle.$invalid && formationForm.trainingTitle.$dirty}">
                        <input type="text" name="trainingTitle" class="form-control"
                               ng-model="DF.training.trainingTitle" required ng-pattern="DF.regex.trainingTitle"
                               ng-trim="true" placeholder="Titre de la formation">
                        <!-- ng-minlength="2" ng-maxlength="20" -->
                        <p ng-show="formationForm.trainingTitle.$invalid && formationForm.trainingTitle.$dirty"
                           class="help-block">Veuillez entrer un titre de formation valide</p>
                    </div>
                    <!-- Nombre de 1/2 journée -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : formationForm.numberHalfDays.$invalid && formationForm.numberHalfDays.$dirty}">
                        <input type="number" name="numberHalfDays" class="form-control no-spinner"
                               ng-model="DF.training.numberHalfDays" required ng-pattern="DF.regex.numberHalfDays"
                               min="1" max="200" placeholder="Nombre de 1/2 journée">
                        <p ng-show="formationForm.numberHalfDays.$invalid && formationForm.numberHalfDays.$dirty"
                           class="help-block">Veuillez entrer un nombre de demi-journée valide (Entre 1 et 200)</p>
                    </div>

                    <br>
                    <button class="center-block alert alert-danger" role="alert" disabled="disabled"
                            ng-show="!DF.isNewTrainingTitle">
                        Une formation identique existe déjà dans le système
                    </button>
                    <button class="center-block alert alert-danger" disabled="disabled" role="alert"
                            ng-show="DF.isThereAnEmptyField">
                        Veuillez remplir tous les champs
                    </button>
                    <button class="center-block alert alert-danger" disabled="disabled" role="alert"
                            ng-show="DF.isFalseForm">
                        Veuillez remplir corretement tous les champs
                    </button>
                    <button type="submit" class="center-block btn btn-primary">Enregistrer</button>
                </form>
            </div>

        </div>
    </div>
</div>
</div>