input[type=number].no-spinner::-webkit-outer-spin-button,
input[type=number].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].no-spinner {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
    padding-top: 40px;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    border-top: solid 1px #ddd;
    padding: 10px 8px 10px 8px;
}

ul li:first-child {
    border-top: 0;
}

.info-text {
    color: blue;
}

.warning-text {
    color: red;
}

.search-widget {
    display: inline-block;
}

.collaborator-box {
    padding-top: 5px;
    overflow-y: scroll;
    height: 390px;
    border: 2px solid darkgrey;
    width: auto;
}

.right-inner-addon {
    position: relative;
}

.searchBox {
    position: absolute;
    padding: 3px 55px 10px 5px;
    width: 100%;
    z-index: 100;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.h5 {
    font-size: 1em;
}
