
<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Enregistrement Collaborateur</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
    <script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

<link rel="stylesheet" href="css/EnregistrementCollaborateur.css">

</head>


<body>

 <form ng-controller="MyCtrl">
 
 	<div class="label">
 		<label for="Matricule">Matricule:</label>
 		<input type="text" id="Matricule" ng-model="Matricule" required name="Matricule" class="majuscule"/>
 	</div>
 	
 	<div class="label">
 		<label for="Nom">Nom:</label>
 		<input type="text" id="Nom" ng-model="Nom" required name="Nom"/>
 	</div> 
 	<div class="label">
 		<label for="Prenom">Prénom:</label>
 		<input type="text" id="Prenom" ng-model="Prenom" required name="Prenom"/>
 	</div>


		<div>
		  {{Matricule}},{{Nom}},{{Prenom}} 
		  <button ng-click="actionEnregistrer()">Enregistrer</button>
		</div>
	</form>
	<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('MyCtrl', function($scope, $http) {
	    $scope.actionEnregistrer = function() {
		var activeObject = new Object();
	    console.log("hellooo");
		activeObject.matricule = $scope.Matricule;
		activeObject.prenom = $scope.Nom;
		activeObject.nom = $scope.Prenom;
		$http.post("api/collaborateurs", activeObject).success(function(data){
			console.log("holaaa");
		  alert("done!!!!");
		});
	    };
	});
 	</script>

</body>
</html>