
<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Enregistrement Collaborateur</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
    <script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
   <!--  <script src="js/EnregistrementcollaborateurController.js"></script> -->

<link rel="stylesheet" href="css/EnregistrementCollaborateur.css">
</head>


<body>
 <form action="api/collaborateurs" method="post" >
 
 	<div class="label" ng-controller="MyCtrl">
 		<label for="Matricule">Matricule:</label>
 		<input type="text" id="Matricule" ng-model="Matricule" required name="Matricule" class="majuscule" size="30"/>
 	</div>
 	
 	<div class="label">
 		<label for="Nom">Nom:</label>
 		<input type="text" id="Nom" ng-model="Nom" required name="Nom"/>
 	</div> 
 	<div class="label">
 		<label for="Prenom">Prénom:</label>
 		<input type="text" id="Prenom" ng-model="Prenom" required name="Prenom"/>
 	</div>

	<div class= button>
		<input type='submit'  value='Enregistrer'>
	</div>
	</form>
	<script type="text/javascript">

		var app = angular.module('myApp', []);
		
		app.controller('MyCtrl', function($scope, $http) {
		    $http.post("api/collaborateurs",{nom: "lecomte", prenom: "thomas", matricule:"0555dsd"})
		    .then(function(response) {
		        alert("c'est ok");
		    });
		});
 	</script>
	
</body>
</html>