
<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Enregistrement Collaborateur</title>
		<link href="css/bootstrap.css" rel="stylesheet" />
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
</head>


<body ng-controller="MyCtrl as main">

<div class="row">
 <div class="col-md-4">
 </div>
  <div class="col-md-4">
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Enregistrement collaborateur</h3>
  </div>
  <div class="panel-body">
  <p>
  <form name="collaborateurForm" >

    <!-- MATRICULE -->
    <div class="form-group">
      <input type="text" name="matricule" class="form-control" ng-model="main.collaborateur.matricule">
    </div>

    <!-- NOM -->
    <div class="form-group">
      <input type="text" name="nom" class="form-control" ng-model="main.collaborateur.nom">
    </div>

    <!-- PRENOM -->
    <div class="form-group">
      <input type="text" name="prenom" class="form-control" ng-model="main.collaborateur.prenom">
    </div>

	<span>{{main.collaborateur.matricule}}</span>
	<span>{{main.collaborateur.nom}}</span>
	<span>{{main.collaborateur.prenom}}</span>
    <button class="btn btn-primary" ng-clic="main.actionEnregistrer()">Enregistrer</button>

  </form>
  </p>
  </div>
  
   <div class="col-md-4">
 	</div>
</div>
	
  </div>
</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('MyCtrl', function($http) {
			var self = this;
			
			 var data = {
					formation: 1,
			 		//firstDay: "1993-04-30",
			 		//lastDay: "1993-04-30",
			 		//firstTime: "10:10",
			 		//lastTime: "10:10", 
		        	lieu: "Paris"
			}; 
			
			//var data = {message:"message"};
			
			console.log(data);
			
			$http.post("api/sessions", data).success(function(d){
		  		console.log(d);
			});
			
		});
 	</script>

</body>
</html>